
<p style="text-align: center;"><strong>Sunday Worship</strong></p>
<p style="text-align: center;"><strong>October 8th, 2023</strong></p>
&nbsp;
<p style="text-align: center;"><strong>“Power Perfected Through Weakness”</strong></p>
<p style="text-align: center;">Judges 17</p>
<p style="text-align: center;">Mr. Tennant Brastow</p>
&nbsp;

<a href="https://dl.dropbox.com/scl/fi/4b1ops6ghnh2o3cthbrq4/ECPC-Worship-20231008.mp3?rlkey=kazatub901tyinsf1tro3o7ls&amp;dl=0
">Sermon Audio</a>

&nbsp;

<strong>Sermon Outline:</strong>
<ol>
  
 	<li>Introduction</li>
  
 	<li>Idolatry</li>
  
 	<li>Image Of The Invisible God</li>
  
</ol>
<strong>Reflection Questions:</strong>
<ol>
  
 	<li>What is the danger of reducing God, even as opposed to rejecting Him?</li>
  
 	<li>Psalm 50:21 says, "You thought that I (God) was one like yourself." How do you see the relevance of that indictment to this story?</li>
  
 	<li>Are there ways in your life that you are prone to try to use God, rather than submit to Him?</li>
  
 	<li>Why does God demand that he will supply the image (Col 1:15), as opposed to us supplying the image?</li>
  
</ol>
